.tag-control-container {
	font-family: LucidaGrande; 
	font-size: 13px;
	display: block;
	
	/*
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    */
    width: 200px;
	/*width:780px;*/
    text-align:left;
    
    position:relative;
    
	/*
	background: #FFF; 
	padding: 3px; 
	width: 300px; 
	max-width: 300px; 
	border: 1px solid darkgray;
	*/
}

#input-item input.tag-control-helper {
	background:none;
	border:0;
	width:auto;
}

/*.tag-control-container.focus {border: 1px solid activeborder; outline: 2px auto -webkit-focus-ring-color;}*/
.tag-control-container input.tag-control-helper {border: 0; display: inline; margin: 0; padding: 0;}
.tag-control-container input.tag-control-helper:focus {outline: none;}
.tag-control-container .tag-value span {
	/*background-color: #DEE7F8;*/
	background-color: #fff;
	 -moz-border-radius: 9px; border-radius: 9px; margin: 0 0.5em 0 0; padding: 0 10px 0 10px; 
	 /*border: 1px #A4BDED solid;*/
	 color:#999;
	 border: 1px #ccc solid;
	 line-height: 170%; word-wrap: none; white-space: nowrap;}
.tag-control-container .tag-value span:hover {
	/*background-color: #BBCEF1;*/
	background-color: #666; 
	/*border-color: #6D95E0; */
	border-color: #5D7D58;
	color:#ccc; 
	cursor: default; padding: 0 15px 0 5px;}
.tag-control-container .tag-value span.focus {background-color: #598AEC; border-color: #598AEC; color: #FFF;}
.tag-control-container .tag-value span .delete {display: none; margin-left: 4px; margin-right: -13px;}
.tag-control-container .tag-value span:hover .delete {display: inline;}
.tag-control-container .tag-value span:hover .delete:hover {cursor: pointer;}

.tag-control-container .tag-suggest {
	background-color: #EEEEEE; 
	background-color: #ccc; 
    border: 1px solid #CCCCCC;
    border: 1px solid #eee;
    border-top:0;
    
    position: absolute;
    width: 100%;
    
	/*
	width: 375px;
	margin-top: 5px; 
	position: absolute; 
	margin-left:-1px;
	*/
	padding: 0; 
	display: none; 
	z-index: 999;
}
.tag-control-container .tag-suggest ul {
	padding: 0;
	margin:0;
}

.tag-control-container .tag-suggest li {
	list-style: none; 
	padding: 0 5px 0;
}
.tag-control-container .tag-suggest li:hover {background-color: #BBCEF1; cursor: pointer;}
.tag-control-container .tag-suggest li.selected {background-color: #BBCEF1;}



#frm-jokeForm input[type="text"], #frm-jokeForm textarea {
	width:100%;
}

.ui-dialog {
	text-align:left;
}
#addJokeTags {
	margin-left:30px;
}

.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px;  position: absolute;}


















