.tag-control-container {
	font-family: LucidaGrande; 
	font-size: 13px;
	display: block;
	
	/*
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    */
    width: 200px;
	/*width:780px;*/
    text-align:left;
    
    position:relative;
	/*
    overflow:hidden;
	background: #FFF; 
	padding: 3px; 
	width: 300px; 
	max-width: 300px; 
	border: 1px solid darkgray;
	*/
}

#input-item input.tag-control-helper {
	background:none;
	border:0;
	width:auto;
}

/*.tag-control-container.focus {border: 1px solid activeborder; outline: 2px auto -webkit-focus-ring-color;}*/
.tag-control-container input.tag-control-helper {
	/*position:absolute;
		top:43%;
		*/
	border: 0; display: inline; margin: 0; padding: 0; width:100%;
 	font-size: 100%;
}
.tag-control-container input.tag-control-helper:focus {outline: none;}
.tag-control-container .tag-value {
/*	position: absolute;
    	margin-top: 30%;
    	*/
}


.tagsCommonSelect .tag-value {
	display:none;
}

.tag-control-container .tag-value span {
	color: #fff;
	background-color:#5d7d58;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 1px #ccc solid;
	margin: 0 0.5em 0 0;
	padding: 0 15px 0 5px;
	line-height: 170%;
	word-wrap: none;
	white-space: nowrap;
}
.tag-control-container .tag-value span:hover {
	background-color: #666; 
	border-color: #5D7D58;
	color:#ccc; 
	cursor: default; 
}
.tag-control-container .tag-value span.focus {background-color: #598AEC; border-color: #598AEC; color: #FFF;}
.tag-control-container .tag-value span .delete {
	display: inline;
	margin-left: 4px;
	margin-right: -13px;
	/*background-color:#fff;*/
	color:#5d7d58;
	color:white;
}
.tag-control-container .tag-value span:hover .delete {display: inline;}
.tag-control-container .tag-value span:hover .delete:hover {cursor: pointer;}

.tag-control-container .tag-suggest {
	background-color: #EEEEEE; 
	background-color: #ccc; 
    border: 1px solid #CCCCCC;
    border: 1px solid #eee;
    border-top:0;
    
    position: absolute;
    	top:18px; /*when helper moved below tag-value, specify explicitly to be sure*/
    width: 100%;
    
	/*
	width: 375px;
	margin-top: 5px; 
	position: absolute; 
	margin-left:-1px;
	*/
	padding: 0; 
	display: none; 
	z-index: 999;
}
.tag-control-container .tag-suggest ul {
	padding: 0;
	margin:0;
}

.tag-control-container .tag-suggest li {
	list-style: none; 
	padding: 0 5px 0;
}
.tag-control-container .tag-suggest li:hover {background-color: #BBCEF1; cursor: pointer;}
.tag-control-container .tag-suggest li.selected {background-color: #BBCEF1;}



#frm-jokeForm input[type="text"], #frm-jokeForm textarea {
	width:100%;
}

.ui-dialog {
	text-align:left;
}
#addJokeTags {
	margin-left:30px;
}

.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px;  position: absolute;}



.tag-value {
	display:block;
}







/* FILE DETAIL VIEW */

.bindTagContainer,
.description-container .trigger-editable {
	display:inline-block;
	float: right;
	margin-right: 10px;
}
	
	.bindTagContainer form {
		display:none;
		height: 20px !important;
	}
		.bindTagContainer form * {
			display:inline-block;
		}

   	   	.bindTagContainer .tag-control-helper {
  			border:1px solid #ccc !important;
   	   	}
   	   	
		/* hide tags to be added to file */
   		.bindTagContainer .tag-value {
	   		display:none !important;
	   	}
	   	
		.bindTagContainer .tag-control-container {
			width:150px;
			display:block !important;
			/*display:inline-block !important;*/
			overflow:visible;
/*			position:relative;
				top:4px;*/
		}
		
		.bindTagContainer .tag-suggest * {
			display:block;
		}

		
.description-container .editable {
	padding-bottom:30px;
	
}

.description-container .editable textarea {
	min-height:3em;
	width: 100% !important;
}
/* FILE DETAIL VIEW END*/






