/*todo: nastylovat univerzalneho admina*/

ul li {
	margin: 2px;
}


table table {
	margin-left:30px;
}

td, th {
	padding:3px 7px;
	text-align: left;
	vertical-align:top;
}
th {
	text-align:left;
	/*width:20%;*/
}

caption {font-style:italic;font-weight:bold;}

span.cke_skin_kama {margin:10px 0;}

input {width:auto;}
input.text, textarea {
	padding:0.4em;
	width:95%;
}

label {
	color: #111;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	border-top: 2px dotted #ccc;
	margin-top: 10px;
}

div#sendBox {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

table {
	margin: 0 auto;
	/*width:98%;*/
}

	table.blue-colored {
		margin:15px 0;
	}
		table.blue-colored th {
			background-color:#CCE8F8;
			color:#000;
			font-weight: bold;
		}

		table.blue-colored tr:nth-child(2n+1) td {
			background-color:#EBF6FC;
		}

div.title {
	font-size: 1.3em;
	font-weight: bold;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 26px;
}


	/****************************************/
	/* RICHTEXT IN GENERAL     			   	*/
	/****************************************/

.cke_skin_office2003 .cke_editor {
	width:97% !important;
}

a {
	color: inherit;
	text-decoration: underline;
}

small {font-size:70%;}
/* description */
form small {
	display: inline-block;
}


	/****************************************/
	/* PROJECTS			     			   	*/
	/****************************************/
.projects-admin p {
	color:#000;
}	

.add-projectUser-form, 
.recent-projectUser,
.settings form
 {
	width:80%;
	margin:25px auto 40px;
}

	.add-projectUser-form table {
		width:100%;
	}

		.add-projectUser-form tr {
			line-height: 40px;
		}
			.add-projectUser-form th {
				white-space: nowrap;
			 	width: 200px;
			}
		
			.add-projectUser-form .date {
				width:170px;
			}
			.add-projectUser-form select {
				width:180px;
			}
		
			.add-projectUser-form .button {
				margin:10px 10px 0 0;
			}
	
	
	
.recent-projectUser table {
	border:0;
	border-collapse:collapse;
}

	.projectUser-name {
		color:#000;
		font-weight: bold;
		width:350px;
	}
	.users-admin .projectUser-name {
		width:auto;
	}
	
	.recent-projectUser table.projectUser td,
	.recent-projectUser table.projectUser th {
		border:1px solid #999;
		text-align:center;
	}
	
	#frm-searchForm {
		display:inline-block;
	}
	#searchFormClearer {
		top:-5px;
		left:-37px;
	}
	
.th-align_r th {
	text-align:right;
}

#frmitemForm-type-1 {
	margin-left: 50px;
}




.edit-icon {
	background:url('../images/icons-content.png') no-repeat -153px -3px;
	width:20px;
	height:20px;
	display:inline-block;
}

.del-icon {
	background:url('../images/icons-content.png') no-repeat -329px -3px;
	width:20px;
	height:20px;
	display:inline-block;
}

.recent-projectUser .edit-icon,
.recent-projectUser .del-icon {
	margin-top:3px;
}

/*
.date {
	background:url('../images/icons-content.png') no-repeat -329px -3px;
}
*/







.available,
.not-available {
	line-height: 30px;
	color:#333;
	font-size:12px;
	padding-left:35px;
	/*background:url('../images/icons-content.png') no-repeat -329px -3px;*/
	background:url('../images/smiles.png') no-repeat 15px 7px;
}

.not-available {
	background-position: 15px -25px;
}


