body {
	font: 16px/1.5 "Lucida Grande", "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	/*font: 16px/1.5 Helvetica, arial, sans-serif;*/
	color: #999;
	background-color: #e0e2e3;
	margin: 0px;
	padding: 0px;
}

.all {
	width:1008px;
	margin:20px auto;
	text-align:left;
	position:relative; /*temp?*/
	padding-bottom: 100px;
	/*padding-top: 100px;*/
}

.upmenu {
	margin-bottom:30px;
	text-align:right;
}
	.upmenu span {
		display:inline-block;
		margin:0 15px;
	}
.upmenu,
.upmenu a {
	color:#999;
	font-size:11px;
}
	.upmenu a {
		text-decoration:none;
		font-weight:bold;
	}

.extender {
	background-color:white;
	width:100%;
	
	border:solid 1px #999999;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-box-shadow: 4px 4px 4px #999999;
	-webkit-box-shadow: 4px 4px 4px #999999;
	box-shadow: 4px 4px 4px #999999;
}

ol, ul {
	list-style: none;
}

a {
	color: #e81500;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

input.text {
	padding:0.4em;
	width:95%;
}
/* todo: if adding file 2 lbs should display used lbs too
option[disabled] {
    background-color: lightgray;
    font-weight:normal;
}
*/
input, textarea, select {
	border:solid 1px #999999;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.form-el-padding input,
.form-el-padding textarea,
.form-el-padding select
{
	padding:0.4em;
}

/*.required {color:darkred;}*/

/* to prevent flashing onload - shown as jGrowl */
.flashes,
div.flash,
form ul.error,
form ul.error li {
	display: none;
}

/* for browsers with native support for placeholder */
:-moz-placeholder { color: #aaa; }
::-webkit-input-placeholder { color: #aaa; } /* nemoze to byt na 1 riadku za sebou, potom to webkit nezoberie */

 /* for browsers withOUT native support for placeholder */
.placeholder { color: #aaa; }

.ib {
	display:inline-block;
}



#header {
	padding: 1px 10px 3px;
	margin-top:10px; /* gradient over border-radius fix */
	background: #fafafa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5));
	background: -moz-linear-gradient(top,  #fff,  #f5f5f5);
}

.options-pannel {
	background-color:#f2f2f2;
	padding: 0px 10px;
	font-size:12px;
	line-height: 3em;
}

	.options-pannel span {
		cursor:pointer;
	}
	
		.options-pannel span.toggler {
			display: inline-block;
		    width: 77px;
		}
		
		
	.options-pannel div {
		/*display:none;*/
	}
	
	.options-pannel form {
		display: inline-block;
	    height: 1.5em;
	    line-height: 2.2em;
	}
	
	.options-pannel .options {
		display: inline-block;
		/*display:none;*/
		opacity:0;
	}
	
		.options-pannel .options .bold {
			color:black;
		}
		
		.options-pannel .options span {
			display:inline-block;
		}
		
		.options-pannel .options a {
			color: #999999;
			text-decoration:none;
		}
			.options-pannel .options a.active {
				color: #ccc;
				background-color:transparent;
			}
			
			.options-pannel .options .resultsCount {
				margin:0 10px 0 15px;
				text-align: center;
    			width: 120px;
			}
			
			.options-pannel .options .orderby {
				margin:0 40px;
			}
			
			.options-pannel .options .completed {
				margin:0 0 0 70px;
			}
			
			.options-pannel .options .sorting {
				margin:0 15px 0 0px;
			}
			

	.thumbsizeControl,
	.renderMode {
		 margin-left: 50px;
	 }
	 
		.thumbsizeControl a {
			display:inline-block;
		}
		
			.thumbsizeControl a.active {
				border:1px dashed red;
			}
		
			.thumbsizeControl .small {
				width:6px;
				height:6px;
				background-color:#555 !important;
			}
			
			.thumbsizeControl .medium {
				width:10px;
				height:10px;
				background-color:#aaa !important;
			}

			.thumbsizeControl .large {
				width:14px;
				height:14px;
				background-color:#555 !important;
			}
	
.filters-pannel {
	background: #fafafa;
	padding: 20px 10px;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ccc');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#e6e6e6), to(#ccc));
	background: -moz-linear-gradient(top,  #e6e6e6,  #ccc);
	
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
}

.filters-pannel * {
	display:inline-block;
}
	.filter-menu {
		margin-top:-20px;
	}
	
		.filter-menu a {
			background-color:#e6e6e6;
			color:#999;
			text-decoration:none;
			display: inline-block;
		    min-width: 30px;
		    margin: 0 5px;
		    padding: 5px 20px;
		    text-align: center;
			border:solid 1px #999999;
			-moz-border-radius-topleft: 20px;
			-moz-border-radius-topright:20px;
			-moz-border-radius-bottomleft:20px;
			-moz-border-radius-bottomright:20px;
			-webkit-border-top-left-radius:20px;
			-webkit-border-top-right-radius:20px;
			-webkit-border-bottom-left-radius:20px;
			-webkit-border-bottom-right-radius:20px;
			border-top-left-radius:20px;
			border-top-right-radius:20px;
			border-bottom-left-radius:20px;
			border-bottom-right-radius:20px;
		}
		
			.filter-menu a:hover, 
			.filter-menu a.active {
				background-color:#fff;
				color:black;
			}

.menu-icon {
	background:transparent url(../images/icons.png);
	display:inline-block;
	width:22px;
	height:18px;
	margin-right: 10px;
	/*border: 1px solid red;*/
}		

	.menu-icon.active {
		background-color:transparent;
	}
	.home-icon {
		background-position:-11px -44px;
	}
		.home-icon:hover {
			background-position:-11px -4px;
		}
		.home-icon.active {
			background-position:-11px 30px;
		}
		
	.settings-icon {
		background-position:-51px -44px;
	}
		.settings-icon:hover {
			background-position:-51px -4px;
		}
		.settings-icon.active {
			background-position:-51px 30px;
		}

	/* moved down 1px in comparison with other icons */
	.client-package-icon {
		background-position:-93px -43px;
	}
		.client-package-icon:hover {
			background-position:-93px -3px;
		}
		.client-package-icon.active {
			background-position:-93px 31px;
		}
	
	.lightbox-icon {
		background-position:-136px -44px;
	}
		.lightbox-icon:hover {
			background-position:-136px -4px;
		}
		.lightbox-icon.active {
			background-position:-136px 30px;
		}
		
	.users-icon {
		background-position:-312px -44px;
	}
		.users-icon:hover {
			background-position:-312px -4px;
		}
		.users-icon.active {
			background-position:-312px 30px;
		}
		
	.projects-icon {
		background-position:-347px -44px;
	}
		.projects-icon:hover {
			background-position:-347px -4px;
		}
		.projects-icon.active {
			background-position:-347px 30px;
		}
	
	.help-icon {
		background-position:-179px -44px;
	}
		.help-icon:hover {
			background-position:-179px -4px;
		}
		.help-icon.active {
			background-position:-179px 30px;
		}
		
	.upload-icon {
		float:right;
		background-position:-214px -44px;
	}
		.upload-icon:hover {
			background-position:-214px -4px;
		}

	.logout-icon {
		/*background-position:-244px -44px;*/
		background-position: -250px -44px;
    	width: 11px;
	}
		.logout-icon:hover {
			/*background-position:-244px -4px;*/
			background-position:-250px -4px;
		}
		
.fileUploadArea {
	display:none;
	color:#5d7d58;
	/*margin: 15px 0;*/
	
	/*background: #b5d0b0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7dbc2', endColorstr='#a7c9a2');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#c7dbc2), to(#a7c9a2));
	background: -moz-linear-gradient(top,  #c7dbc2,  #a7c9a2);
	*/
		background: #AED483;
}
	.fileUploadArea .files-header {
		color:#000;
	}
	form > div.top > div > div span {height:auto;}
.switch a {display:block; width:100px; height:38px; background:#eee; }
.switch a.on {background:#07d317 ;}
.switch a.off {background: #ed0a10 ;}
.fileUpload-header {
	background: #b5d0b0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7dbc2', endColorstr='#a7c9a2');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#c7dbc2), to(#a7c9a2));
	background: -moz-linear-gradient(top,  #c7dbc2,  #a7c9a2);
}

	.fileUpload-header span {
		display:inline-block;
		background:transparent url(../images/icons.png) left top;
		padding-left:20px;
		margin-right:30px;
		font-size:18px;
	}

.fileUpload-footer {
	/*
	background: #b7d2b2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8dbc3', endColorstr='#a8c9a3');
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#c8dbc3), to(#a8c9a3));
	background: -moz-linear-gradient(top,  #c8dbc3,  #a8c9a3);
	*/
		background: #AED483;

	border-top:1px solid #969b95;
	padding:10px 20px;
	line-height: 2.5em;
	display:none;
}

.fileUploadArea #files {
	width:100%;
	border-top: 1px solid #969B95;
}

.fileUpload-item {
	background: #EFF6E6;
}

	.fileUpload-item td {
		padding:10px;
		vertical-align: middle;
	}

	.fileUpload-item:nth-child(2n+1) {
		background: #cee6b6;
	}
	
	td.file_upload_preview {
		padding-left:10px;
		width:170px;
		font-size:11px;
	}
	
		td.file_upload_preview span {
			overflow:hidden;
	 		display: inline-block;
		}
		
		.fileUpload-item .filename {
			max-width:100px;
		}

	.filesInfo {
		font-size:11px;
		float:left;
		width:30%;
	}
	
	.action-buttons {
		float:left;
		text-align:right;
		width: 70%;
	}

	
.itemList {
	border-top:1px solid #999;
	display: inline-block; /* aby border bol len nad fotkami (ak nie su na cely riadok) */
}

.right-box .itemList {
	border:0;
}

.projectList .itemList {
	display:block;
	border:0;
    /*padding: 0 15px;*/
    padding:0;
}

	.projectList .project-info {
		float:left;
	}

	.projectList .itemList .item {
		/*
		border: 1px solid #ccc;
	    margin: 20px 20px 20px 30px;
		*/
		border-right:0;
	    float:none;
	    padding: 0 15px;
	 /*   padding: 20px 20px 0;*/
	}

	
	
		.projectList .itemList .item .img-link {
			float:left;
		}
			.projectList .itemList .item img {
				margin: 20px;
				display: block;
			}

		.projectList .item .project-info {
			padding-left:20px;
			float:left;
			position:relative;
			height: 260px;
			width:250px;
    		margin-top: 20px;
		}
			
			.projectList .item span {
				position:static;
			}
			
			.projectList .project-name {
			    color: #444;
			    font-size: 22px;
    			font-weight: bold;
			}
			
			.projectList .project-subtitle {
			    color: #444;
			    font-size: 16px;
			    font-weight: bold;
			    margin-top: -5px;
		   	}

		   	.projectList .completed {
		   		font-size:11px;
		   		color:#b3b3b3;
		   		line-height: 24px;
    			margin-bottom: 10px;
		   	}
			
			.project-files-count {
				position:absolute;
				bottom:0px;
				left:0;
			}
				
				.projectList .vectorCount,
				.projectList .bitmapCount {
					display:inline-block;
					margin-right: 15px;
    				padding-left: 27px;
				}
				.projectList .vectorCount {
					background: transparent url(../images/projects-icon_count_vectors.png) left top no-repeat;
				}
				.projectList .bitmapCount {
					background: transparent url(../images/projects-icon_count_bitmaps.png) left top no-repeat;
				}


	.item {
		border-right:1px solid #999;
		border-bottom:1px solid #999;
		position:relative;
		float:left;
	}
	
	.item:hover {
		background-color: #F2F2F2;
	}

		.item span {
			position:absolute;
			font-size:11px;
		}
			.item .top-right {
				top:3px;
				right:5px;
			}
			
			.item .top-left {
				top:13px;
				left:5px;
			}
			
				.filetype {
					background-color: #CCCCCC;
				    color: white;
				    font-size: 14px;
				    font-weight: bold;
				    padding: 2px 8px;
				    margin:0 10px;
				    text-transform: uppercase;
				    position: static !important;
				}

				.item .downloads {
					position: static !important;
				}
			
		.item .show-on-hover {
			display:none;
		}
			
			.item:hover .show-on-hover {
				display:inline-block;
			}
			
			/* small thumbnails show only image */
			.thumbSize-small .item:hover .show-on-hover {
				display:none;
			}
			
		/*.item*/ .download-link {
			background:transparent url(../images/icons.png) no-repeat scroll -270px -4px;
			width:21px;
			height:18px;
			color:#999;
			line-height: 1em;
			
			position: absolute;
			    left: 10px;
				bottom: 10px;
		}
			/*.item*/ .download-link:hover {
				background-position:-270px -44px
			}

		/*.item*/ .add2lightbox {
			position:absolute;
				right:10px;
				bottom:10px;
		}

	.itemList.thumbSize-small .item {
		width:125px;
		height:125px;
	}

		.itemList.thumbSize-small .item:nth-child(8n) {
			border-right:0;
			width:126px;
		}
		.itemList.thumbSize-small img {
			width:85px;
			height:85px;
			margin:20px;
		}

	.itemList.thumbSize-medium .item {
		width:251px;
		height:250px;
	}

		.itemList.thumbSize-medium .item:nth-child(4n) {
			border-right:0;
			width:252px;
		}
		.itemList.thumbSize-medium img {
			width:170px;
			height:170px;
			margin:40px;
		}

	.itemList.thumbSize-large .item {
		width:503px;
		height:500px;
	}

		.itemList.thumbSize-large .item:nth-child(2n) {
			border-right:0;
			width:504px;
		}
		.itemList.thumbSize-large img {
			width:380px;
			height:380px;
			margin:60px;
		}

#file-detail-modal {
	position:relative;
}

	#file-detail-modal .add2lightbox {
    	bottom: 5px;
	}

	#file-detail-modal .download-link {
		/*padding-left:35px;*/
	}
	
	#file-detail-modal .downloads {
		/*position:absolute;
			top:3px;
			left:5px;
		*/
		font-size: 12px;
	}
	
	#file-detail-modal img {
	    width: 380px;
		height: 380px;
	    margin: 40px;
   	}
   	
   	#file-detail-modal .actions-container {
   		position:relative;
   		min-height:30px;
   	}

   	.file-detail-heading {
   		border-top: 1px solid #999;
   		border-bottom: 1px solid #999;
   		color:#000;
   		
   		background: #ededed;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#f2f2f2');
		background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#e7e7e7), to(#f2f2f2));
		background: -moz-linear-gradient(top,  #e7e7e7,  #f2f2f2);
   	
   	}
   	#file-detail-modal .tags-heading {
   	}
   	
   	
   	.tags-container {
   		margin-left:-10px;
   		padding-left:10px;
   		width:100%;
   	}
   		
   	   	/*
   	   	.tags-container .tag-control-container {
   	   		position:relative;
   	   			top:4px;
   	   	}
   	   	*/	
   	   	

   	.file-detail-taglist {
   		background-color:#f2f2f2;
   	}
   	
   	.file-detail-taglist li {
   		display:inline-block;
   		margin:5px;
   		padding:0 12px;
   		background-color:#809EAD; /* default for admin and superadmin */
   		color:#fff;
   		
   		-moz-border-radius: 9px;
		-webkit-border-radius:9px;
		border-radius:9px;
   	}

   	   	.file-detail-taglist li.user-level-projectManager {
	   		background-color:#B3B3B3;
   	   	}
   	   	
   	   	.file-detail-taglist li.user-level-designer {
	   		background-color:#999999;
   	   	}

   	   	.file-detail-taglist li.user-level-client {
	   		background-color:#ccc;
   	   	}
   	   	
   		.file-detail-taglist li a {
			/*background:#B3B3B3 url('../images/button-cancel.png') no-repeat 95% center;*/
			background:url('../images/button-cancel.png') no-repeat center center;
			display:inline-block;
			width:19px;
			height:19px;
			position: relative;
    			top: 3px;
				left: 8px;
		}
   			.file-detail-taglist li a:hover {
				/*background-color:#797B7B;*/
			}



/****************************************/
/* PROJECTS		     			   		*/
/****************************************/
.projects table.grid td:first-child {
	border-left:0;
}
.projects table.grid td:last-child {
	border-right:0;
}

.projects table.grid td,
.projects table.grid th {
	padding:5px;
}


/****************************************/
/* Error Module     			   		*/
/****************************************/
	.errorContent {
		line-height:1.3em;
	}
	
	.errorContent p {
		padding: 10px 0;
	}


/****************************************/
/* Custom Classes      			   		*/
/****************************************/

#frm-searchForm {
}
	#frm-searchForm, 
	#frm-searchForm table {
		width:415px;
	}

		#frm-searchForm table td,
		#frm-searchForm table th {
			padding:0;
		}

	#frmsearchForm-q {
		/*width:295px;todo:remove if OK*/
		width:341px;
		background:white url(../images/search16px.png) no-repeat 9px center;
	    padding-left: 30px;
	    padding-right: 35px;
		
		border:solid 1px #999999;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright:15px;
		-moz-border-radius-bottomleft:15px;
		-moz-border-radius-bottomright:15px;
		-webkit-border-top-left-radius:15px;
		-webkit-border-top-right-radius:15px;
		-webkit-border-bottom-left-radius:15px;
		-webkit-border-bottom-right-radius:15px;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		border-bottom-left-radius:15px;
		border-bottom-right-radius:15px;
		
		-moz-box-shadow:inset 0px 5px 8px #eceaea;
	-webkit-box-shadow:inset 0px 5px 8px #eceaea;
	box-shadow:inset 0px 5px 8px #eceaea;
	}

#searchFormClearer {
	background:url(../images/button-reset.png) no-repeat top left;
	width:18px;
	height:18px;
	display:inline-block;
    position: relative;
    	top:5px;
		left: -33px;
    margin-left: 0;
}

.content-padding,
.paginator_all {
	padding:0 10px;
}

.simple-layout .content-padding {
	padding:20px;
}
	td, th {
		padding:3px 7px;
		text-align: left;
		vertical-align:top;
	}

a.active {
	background-color:lightgray;
}


#footer {
    width: 100%;
	position: absolute;
		right: 0px;
		bottom: 10px;
    text-align: center;
	font-size: 11px;
}

#footer a {
  color: #999;
}

#footer a:hover {
	text-decoration:underline;
}

#footer a.masked,
#footer a.masked:hover {
	text-decoration:none;
	cursor:text;
}







.bg_lightgreen {
	background-color:#EFF6E6;
	overflow: hidden; /*for correct margin apply*/
}

.bg_lightblue {
	background-color:#EBF6FC;
}


/****************************************/
/* LIGHTBOXES		     			  	*/
/****************************************/
.top-heading {
	border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}

.top-heading.blue {
	background-color:#cce8f8;
}

.top-heading.green {
	background-color:#AED483;
}

.cols-2-layout {
	background: url('../images/bg_left-box.gif') repeat-y 251px top;
}

	.cols-2-layout .itemList.thumbSize-medium .item:nth-child(4n) {
		border-right:1px solid #999999;
		width:251px;
	}
	.cols-2-layout .itemList.thumbSize-medium .item:nth-child(3n) {
		border-right:0;
		width:252px;
	}
	
	/*.top-heading .share-link,*/
	.top-heading .right-link
	 {
		float: right;
	    line-height: 35px;
	    margin-right: 20px;
	}
	
	.top-heading h1, 
	.top-heading h2 {
		font-size: 20px;
	    line-height: 20px;
	    padding: 10px;
		color:#000;
		display:inline-block;
	}
	.top-heading h2 {
		margin-left:125px;
	}

.cols-2-layout .left-box {
	padding: 10px 20px;
    width: 212px;
	float:left;
	font-size:12px;
}
	.cols-2-layout .left-box .margin-all {
		margin:10px;
	}
	
	.left-box .projectList a {
		color:#0070BB;
		display: block;
	    margin: 5px 0;
	}
	
	.letter-filter {
		text-transform:uppercase;
	}
		.letter-filter a {
			color:#a1a1a1;
			text-decoration:none;
			display:inline-block;
			width:10px;
			text-align: center;
		}
			.letter-filter a.active {
				color:#333;
			}
		
	.left-box .lb-owner {
		width: 92%;
	}

		.left-box .lb-owner .action-links {
			float:right;
		}
		
		.left-box .lb-owner a, 
		.left-box .lb-owner a * {
			text-decoration:none;
			font-size:12px;
		}
		
			.left-box .lb-owner a:hover {
				text-decoration:none;
			}

			.left-box .lb-owner a.toggler { 
				color: #999999;
			}

		.lightboxes .left-box .user-lbs,
		.left-box .lb-owner ul {
			margin-left:20px;
		}
	
		.lb-owner .editable {
			/*border-bottom:1px dashed #ccc;*/
			color: #0070bb;
		}
		.lb-owner .editable.active {
			color: #000;
		}
		.lb-owner .editable:hover {
			color: #333;
		}


.editable textarea {
	min-height:3em;
}

/* TOGGLER */
.toggler {
	background:transparent url(../images/arrow_down.png) left center no-repeat;
	cursor:pointer;
}
	.toggler.active {
		background-image:url(../images/arrow_up.png);
	}
.toggler-left {
	padding-left:20px;
}
.toggler-right {
	padding-right:20px;
	background-position:right center;
}
/* TOGGLER END*/

.cols-2-layout .right-box {
	float:left;
	width:756px;
}

	.topfile {
		background-color:#f2f2f2;
		border-bottom:1px solid #979797;
		padding:15px;
	}
	
		.topfile .description {
			background:transparent url(../images/projects-icon_info.png) left center no-repeat;
			padding-left:20px;
			display:inline-block;
			
		}
		.topfile .toggler {
			float:right;
		}
	
		.topfile .left {
			width:465px;
		}
			.topfile .filename {
				color:#000;
				display:block;
			}
			.topfile .left img {
				margin:15px 45px;
			}

		.topfile .right {
			width:260px;
		}


.ok-button,
.cancel-button {
	font: bold 13px "Lucida Grande";
	color:white;
	text-transform:uppercase;
	padding: 5px 40px 5px 5px !important;
	border:0;	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.ok-button {
	/*background:#39B54A url('../images/admin-icons.png');*/
	background:#39B54A url('../images/button-arrow.png') no-repeat 95% center;
}
.ok-button:hover {
	background-color:#00984E;
}

.cancel-button {
	/*background:#39B54A url('../images/admin-icons.png');*/
	background:#B3B3B3 url('../images/button-cancel.png') no-repeat 95% center;
}
.cancel-button:hover {
	background-color:#797B7B;
}





















